<div class="container-fluid" style="background-color: #000;">
     <form >
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
            <div id="col" class="col-5 ">
                <div><small>Nombres y Apellidos</small> <input type="text"></div>
                <div><small>Email</small> <input type="text"></div>
                <div><small>Empresa / Organismo</small> <input  type="text"></div>
                <div><small>Pais</small> <input type="text"></div>
                
            </div>

            <div id="col" class="col ">
                <div><small>Telefono</small> <input type="text"></div>
            
                <div class="mb-3">
                    <label  for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              
            </div>
               
        </div>
    </form>
     
</div>


<!-- <div class="container-fluid" style="background-color: #000;">
    <div class="row">
        <div class="col">
            <form fxFlex="100" fxLayout.xs="column" >
                <label>Nombre y Apellido</label>
                <input type="text" required>
            </form>
            <form fxFlex="100" fxLayout.xs="column" >
             <label>Email</label>
             <input type="text" required>
            </form>
        </div>
        <div class="col">
            <form fxFlex="100" fxLayout.xs="column" >
                <label>Telefono</label>
                <input type="text" required>
            </form>
            <form fxFlex="100" fxLayout.xs="column" >
             <label>Mensaje</label>
             <input type="text" required>
            </form>
        </div>
    </div>
</div> -->