<div class="container-fluid" style="background-color: #000;">
     <form >
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 ">
            <div id="col" class="col-3 ">
                <div id="space" ><small>Nombres y Apellidos</small> <input type="text"></div>
                <div id="space" ><small>Email</small> <input type="text"></div>
                <div id="space" ><small>Empresa / Organismo</small> <input  type="text"></div>
                <div id="space" ><small>Pais</small> <input type="text"></div>
                
            </div>

            <div id="col" class="col ">
                <div id="space"><small>Telefono</small> <input type="text"></div>
            
                <div id="space" class="mb-3">
                    <label  for="exampleFormControlTextarea1" class="form-label">
                        <small>Mensaje</small> 
                    </label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              
            </div>
               
        </div>
    </form>
     
</div>


