
    <footer class="footer-position">
        <div class="footer-gray">
          <div class="footer-custom">
            <div class="footer-lists">
              <div class="footer-list-wrap col-1">
                <h6 class="ftr-hdr">Order Toll Free</h6>
                <ul class="ftr-links-sub">
                  <li>800-952-5592</li>
                </ul>
                <h6 class="ftr-hdr">International</h6>
                <ul class="ftr-links-sub">
                  <li><a href="http://www.art.fr" rel="nofollow">France</a></li>
                  <li><a href="https://www.art.co.uk" rel="nofollow">United Kingdom</a></li>
                </ul>
              </div>
              <!--/.footer-list-wrap-->
              <div class="footer-list-wrap">
                <h6 class="ftr-hdr">Customer Service</h6>
                <ul class="ftr-links-sub">
                  <li><a href="/help/talktous.html" rel="nofollow">Contact Us</a></li>
                  <li><a href="/help/placingorders.html" rel="nofollow">Ordering</a></li>
                  <li><a href="/help/shipping.html" rel="nofollow">Shipping &amp; Delivery</a></li>
                  <li><a href="/help/shippingreturns.html" rel="nofollow">Returns</a></li>
                  <li><a href="/help/international-shipping.html" rel="nofollow">International Orders</a></li>
                  <li><a href="/~/egift-cards/" rel="nofollow">Gift Cards</a></li>
                  <li><a href="/help/faq.html" rel="nofollow">FAQs</a></li>
                </ul>
              </div>
              <div class="footer-list-wrap">
                <h6 class="ftr-hdr">About Art.com</h6>
                <ul class="ftr-links-sub">
                  <li><a href="/asp/aboutus/default-asp/_/posters.htm" rel="nofollow">Our Company</a></li>
                  <li><a href="http://corporate.art.com/careers" rel="nofollow">Careers</a></li>
                  <li><a href="/asp/landing/artistrising" rel="nofollow">Artist Rising</a></li>
                  <li><a href="/~/art-for-business" rel="nofollow">Business &amp; Trade Sales</a></li>
                  <li><a href="http://affiliates.art.com/index.aspx" rel="nofollow">Affiliate Program</a></li>
                  <li><a href="/catalog" rel="nofollow"><strong>Shop Our Catalog</strong></a></li>
                  <li><a href="http://blog.art.com" rel="nofollow">ART.COM BLOG</a></li>
                </ul>
              </div>
              <!--/.footer-list-wrap-->
              <div class="footer-list-wrap">
                <h6 class="ftr-hdr">My Account</h6>
                <ul class="ftr-links-sub">
                 
                </ul>
              </div>
              <!--/.footer-list-wrap-->
            </div>
            
           
            <!--/.footer-payment-->
          </div>
          <!--/.footer-custom-->
        </div>
        <!--/.footer-gray-->
      </footer>
  
